.flip-screen {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
stream-hangouts.main-stream .participant {
  width: 100%;
  height: 100%;
  margin: 0px;
  float: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
stream-hangouts.main-stream .participant span {
  display: none;
}
stream-hangouts.main-stream .participant video {
  width: 100%;
}
stream-hangouts.square .participant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  overflow: hidden;
}
stream-hangouts.square .participant span {
  text-align: center;
  top: 45px;
  white-space: normal;
  word-break: break-all;
}
stream-hangouts.square .participant video {
  width: auto;
}
stream-hangouts.hide-video .participant span {
  text-align: center;
  top: 45px;
  white-space: normal;
  word-break: break-all;
}
stream-hangouts.hide-video .participant video {
  display: none;
}
stream-hangouts .participant {
  position: relative;
  width: 177px;
  height: 100px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
}
stream-hangouts .participant span {
  position: absolute;
  bottom: 10px;
  text-overflow: ellipsis;
  padding: 0px 10px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: #000 1px 1px 3px;
  width: 100%;
  overflow: hidden;
  direction: ltr;
  z-index: 1;
}
stream-hangouts .participant video {
  width: 100%;
  height: 100%;
}
