.openvidu {
  height: 100%;
}
.openvidu .loading-screen {
  height: 100%;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.openvidu .loaded {
  height: 100%;
}
.openvidu .loaded .connecting-screen {
  height: 100%;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.openvidu .loaded .wrapper {
  position: relative;
  height: 100%;
}
.openvidu .loaded .wrapper .main-video {
  overflow: hidden;
  background: #111;
}
.openvidu .loaded .wrapper .main-video .main-stream .participant {
  width: 100%;
  height: 100%;
  margin: 0px;
  float: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.openvidu .loaded .wrapper .main-video .main-stream .participant span {
  display: none;
}
.openvidu .loaded .wrapper .main-video .main-stream .participant video {
  width: 100%;
  /* FIX: flip all my screens */
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
      transform: scaleX(-1);
}
.openvidu .loaded .wrapper .toolbar .example-icon {
  padding: 0 14px;
}
.openvidu .loaded .wrapper .toolbar .example-spacer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.openvidu .loaded .wrapper .bottom-bar {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  text-align: center;
  right: 0;
}
.openvidu .loaded .wrapper .bottom-bar .buttons {
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 16px 8px 40px 8px;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-mic.disabled,
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-camera.disabled {
  color: #000;
  background-color: #ffffff;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-mic.disabled md-icon,
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-camera.disabled md-icon {
  display: none;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-mic.disabled md-icon.disabled-icon,
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-camera.disabled md-icon.disabled-icon {
  display: inline-block;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-mic md-icon,
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-camera md-icon {
  display: inline-block;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-mic md-icon.disabled-icon,
.openvidu .loaded .wrapper .bottom-bar .buttons button.toggle-camera md-icon.disabled-icon {
  display: none;
}
.openvidu .loaded .wrapper .bottom-bar .buttons button.close-session {
  background-color: #db4437;
}
.openvidu .loaded .wrapper .bottom-bar .streams {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  text-align: start;
  padding: 8px 24px 0 24px;
  height: 132px;
  white-space: nowrap;
  -webkit-transition: bottom 250ms ease-out, height 250ms ease-out;
  transition: bottom 250ms ease-out, height 250ms ease-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  overflow: auto;
  overflow: -moz-scrollbars-none;
}
