.openvidu {
  width: 100%;
  height: 100%;
}
.openvidu .message-screen {
  height: 100%;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.openvidu .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
}
.openvidu .wrapper .main-video {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  background: #111;
}
.openvidu .wrapper .main-video .message {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  text-shadow: #000 1px 1px 3px;
  z-index: 99;
}
.openvidu .wrapper .main-video .name-placeholder {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.openvidu .wrapper .main-video .name-placeholder div {
  background: #70826a;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  position: absolute;
  margin: -80px 0px 0px -80px;
  font-size: 100px;
  color: #fff;
  line-height: 160px;
}
.openvidu .wrapper .toolbar .example-icon {
  padding: 0 14px;
}
.openvidu .wrapper .toolbar .example-spacer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.openvidu .wrapper .bottom-bar {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  text-align: center;
  right: 0;
}
.openvidu .wrapper .bottom-bar .buttons {
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
}
.openvidu .wrapper .bottom-bar .buttons button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 16px 8px 40px 8px;
}
.openvidu .wrapper .bottom-bar .buttons button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.openvidu .wrapper .bottom-bar .buttons button.toggle-mic.disabled,
.openvidu .wrapper .bottom-bar .buttons button.toggle-camera.disabled {
  color: #000;
  background-color: #ffffff;
}
.openvidu .wrapper .bottom-bar .buttons button.toggle-mic.disabled md-icon,
.openvidu .wrapper .bottom-bar .buttons button.toggle-camera.disabled md-icon {
  display: none;
}
.openvidu .wrapper .bottom-bar .buttons button.toggle-mic.disabled md-icon.disabled-icon,
.openvidu .wrapper .bottom-bar .buttons button.toggle-camera.disabled md-icon.disabled-icon {
  display: inline-block;
}
.openvidu .wrapper .bottom-bar .buttons button.toggle-mic md-icon,
.openvidu .wrapper .bottom-bar .buttons button.toggle-camera md-icon {
  display: inline-block;
}
.openvidu .wrapper .bottom-bar .buttons button.toggle-mic md-icon.disabled-icon,
.openvidu .wrapper .bottom-bar .buttons button.toggle-camera md-icon.disabled-icon {
  display: none;
}
.openvidu .wrapper .bottom-bar .buttons button.close-session {
  background-color: #db4437;
}
.openvidu .wrapper .bottom-bar .streams {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  text-align: start;
  padding: 8px 24px 0 24px;
  height: 132px;
  white-space: nowrap;
  -webkit-transition: bottom 250ms ease-out, height 250ms ease-out;
  transition: bottom 250ms ease-out, height 250ms ease-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  overflow: auto;
  overflow: -moz-scrollbars-none;
}
