<md-tab-group>
	<md-tab label="General">
		<h1 md-dialog-title>{{_intl.settingsLabel}}</h1>
		<div>
			<div md-dialog-content>
				<md-select placeholder="{{_intl.selectVideoInputLabel}}" [(ngModel)]="selectedVideoInput" name="videoInput">
					<md-option *ngFor="let video of videoInputs" [value]="video.deviceId">
						{{video.label}}
					</md-option>
				</md-select>
			</div>
			<div md-dialog-actions>
				<button md-raised-button color="primary" (click)="onSubmit()">
					{{_intl.readyLabel}}
				</button>
			</div>
		</div>
	</md-tab>
</md-tab-group>
