<mat-tab-group>
	<mat-tab label="General">
		<h1 mat-dialog-title>{{_intl.settingsLabel}}</h1>
		<div>
			<div mat-dialog-content>
				<mat-select placeholder="{{_intl.selectVideoInputLabel}}" [(ngModel)]="selectedVideoInput" name="videoInput">
					<mat-option *ngFor="let video of videoInputs" [value]="video.deviceId">
						{{video.label}}
					</mat-option>
				</mat-select>
			</div>
			<div mat-dialog-actions>
				<button mat-raised-button color="primary" (click)="onSubmit()">
					{{_intl.readyLabel}}
				</button>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>
